<ol  class="nav">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
  {{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li class="nav-link active {{ if eq .p1 .p2 }} bg-dark {{ end }} rounded m-1 p-2">
    <a class="{{ if eq .p1 .p2 }} text-light {{ else }} text-dark  {{ end }} text-decoration-none " href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
  </li>
  {{ end }}
  
  