<ol class="nav">
    {{ template "breadcrumb" dict "currentPage" .Page "origPage" .Page }}
</ol>

{{ define "breadcrumb" }}
{{ if .currentPage.Parent }}
{{ if ne .currentPage.Parent .IsHome }}
{{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
{{ end }}
{{ if eq .origPage .currentPage }}
<li class="nav-link active bg-dark rounded m-1 p-2">
    <a class="text-light text-decoration-none" href="{{ .currentPage.Permalink }}">
        {{ .currentPage.Params.len | default .currentPage.Title }}
    </a>
</li>
{{ else }}
<li class="nav-link active rounded m-1 p-2">
    <a class="text-dark text-decoration-none" href="{{ .currentPage.Permalink }}">
        {{ .currentPage.Params.len | default .currentPage.Title }}
    </a>
</li>
{{ end }}
{{ end }}
{{ end }}