{{ define "main" }}
<div class="container d-flex flex-column">
    <input id="search-box" class="form-control mr-sm-2 m-1 m-md-5" type="search" placeholder="Search"
        aria-label="Search">
    {{- .Content -}}
    <div class="d-flex flex-wrap justify-content-center">
        {{ range .Pages }}
        {{- partial "summary.html" . -}}
        {{ end }}
    </div>
</div>
<script type="text/javascript">
    const results = document.getElementsByClassName("search-result")
    const onSearch = (search) => {
        for (const item of results) {
            if (item.innerHTML.includes(search)) {
                item.style.display = "flex";
            } else {
                item.style.display = "none";
            }
        }
    }
    document.getElementById("search-box").addEventListener("input", (e) => {
        onSearch(e.target.value)
    })
</script>
{{ end }}