{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<style>
    #content {
        display: flex;
        flex-direction: column;
    }

    #controls {
        display: flex;
        flex-direction: row;
        flex: 0;
        align-items: center;
        justify-items: stretch;
        justify-content: space-between;
    }

    #map {
        min-height: 70vh;
        flex: 1;
        margin: 10px;
        padding: 10px;
    }

    #metadata {
        display: none;
    }
</style>
{{ end }}

{{ define "main" }}
<div id="content" class="container m-5">
    <div id="controls" class="h1 mb-4 pb-4">
        <div id="lsgTitle">
            {{ .Params.len }}
        </div>
        <div class="dropdown d-flex">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="configuration">
                Boundaries
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {{ range $group, $features := .Site.Data.features }}
                <li>
                    <h6 class="dropdown-header">{{ $group }}</h6>
                </li>
                {{ range $features }}
                <li><a class="dropdown-item" href="#" onclick="javascript:reconfigure('{{ . }}')">{{ . }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        <button id="download" class="btn btn-dark shadow" disabled>
            Download
        </button>

    </div>
    <div class="card shadow-lg" id="map"></div>

</div>

<div id="metadata">
    <div id="qid">
        {{ .Params.qid }}
    </div>
</div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<script src="https://tyrasd.github.io/osmtogeojson/osmtogeojson.js"></script>

<script src="../../india-boundaries.js"></script>

<script src="../../main.js"></script>

{{- .Content -}}
{{ end }}